:root {
  --cor-primaria: #0dcb76;
  --cor-verde-escuro: #012012;
  --cor-branca: #fff;
  --cor-cinza: #95a39d;
  --cor-bg-claro: #f5f7f6;
  --cor-vermelho: #d60000;
  --cor-cinza-borda: #d9d9d9;
  --border-radius: 4px;
  --transicao-15: all 0.15s linear;
  --transicao-30: all 0.3s linear;
  --largura-interna: 1300px;
}

@media (max-width: 1366px) {
  :root {
    --largura-interna: 90%;
  }
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.eot") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  src: url("../fonts/fonts/Roboto-Black.woff2");
  src: url("../fonts/Roboto-Black.eot") format("embedded-opentype"),
    url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff"),
    url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Borna";
  src: url("../fonts/Borna-Bold.eot") format("embedded-opentype"),
    url("../fonts/Borna-Bold.woff2") format("woff2"),
    url("../fonts/Borna-Bold.woff") format("woff"),
    url("../fonts/Borna-Bold.ttf") format("truetype");
}

body {
  background-color: var(--cor-branca);
}

body a {
  cursor: pointer !important;
}

body h1,
body h3,
body h4,
body h5,
body h6,
body p,
body span,
body ul,
body li,
body a {
  font-family: "Roboto";
}

h1 {
  font-weight: 800;
}

body h2 {
  font-family: "Borna";
  font-size: 2.5rem;
  font-weight: 700;
}

.cinza-claro {
  background-color: var(--cor-branca);
}

.verde-escuro {
  background-color: var(--cor-verde-escuro);
}

.cinza-medio {
  background-color: var(--cor-bg-claro);
}

.container-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 5rem 0;
}

/************* MENU PRINCIPAL ***********/

.menu-principal {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  width: 100%;
  background-color: var(--cor-verde-escuro);
  padding-top: 2rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--cor-branca);
  flex-wrap: wrap;
}

.container-menu-principal {
  width: var(--largura-interna);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
  transition: all 0.3s linear;
}

.menu-principal iframe {
  width: 100%;
  height: 30px;
  margin-top: 2rem;
  width: 100%;
  background-color: var(--cor-verde-escuro);
}

.container-menu-principal a {
  transition: all 0.3s linear;
  color: var(--cor-branca);
  text-decoration: none;
}

.container-menu-principal a:hover {
  color: var(--cor-primaria);
  transition: all 0.3s linear;
}

.container-menu-principal .logo {
  width: 200px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 25px;
  align-items: center;
  align-content: center;
}

/************* DESTAQUES ***********/

.blog-destaques {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  gap: 10px;
}

.blog-destaques a {
  text-decoration: none;
  width: 100%;
}

.destaque-principal {
  position: relative;
  width: 100%;
  height: 420px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.125rem;
  background-image: url("../imgs/img-principal.webp");
  background-position: center;
  background-size: cover;
  align-items: flex-end;
  align-content: end;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.destaque-principal::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--cor-primaria);
  z-index: 99;
  transition: all 0.3s linear;
}

.destaque-principal:hover::before {
  width: 100%;
  transition: all 0.3s linear;
}

.destaque-principal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(
    to top,
    var(--cor-verde-escuro),
    transparent 65%
  );
  z-index: 0;
  border-radius: var(--border-radius);
  transition: all 0.3s linear;
}

.destaque-principal h1 {
  font-size: 2rem;
  color: var(--cor-branca);
  font-weight: 400;
  line-height: 1.1em;
  width: 100%;
  z-index: 1;
  text-decoration: none;
}

.destaque-principal p {
  color: var(--cor-primaria);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  z-index: 1;
  text-decoration: none;
  transition: all 0.3s linear;
  text-decoration: none;
}

.destaque-principal span {
  color: var(--cor-cinza);
  font-size: 0.75rem;
  text-align: right;
  z-index: 1;
  text-decoration: none;
}

.destaques-secundarios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-area: 1fr 1fr 1fr;
  align-items: center;
}

.destaques-secundarios a,
.blog-padrao a {
  text-decoration: none;
  height: 100%;
}

.padrao-materia {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  gap: 20px;
}

.thumb-padrao-materia {
  height: 100%;
  width: 40%;
  background-image: url("../imgs/img-principal.webp");
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius);
}

.infos-padrao-materia {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.data-padrao-materia {
  font-size: 0.75rem;
  color: var(--cor-cinza);
  width: 100%;
}

.titulo-padrao-materia {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--cor-verde-escuro);
}

.hover-padrao-materia {
  height: 2px;
  width: 50px;
  margin-top: 10px;
  background-color: var(--cor-primaria);
  transition: all 0.3s linear;
}

.padrao-materia:hover .hover-padrao-materia,
.blog-post:hover .hover-padrao-materia,
.infos-blog:hover .hover-padrao-materia {
  width: 50%;
  transition: all 0.3s linear;
}

.ad-horizontal-home {
  width: var(--largura-interna);
  height: 200px;
  background-color: var(--cor-verde-escuro);
  margin: 5rem 0;
  border-radius: var(--border-radius);
}

/***************** BLOG *****************/

.blog-home {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topo-secao {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 4rem;
}

/* .topo-secao-ativos {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
} */

hr {
  border: 1px solid var(--cor-primaria);
  flex-grow: 1;
  align-self: end;
}

.link-secao {
  color: var(--cor-verde-escuro);
  text-decoration: none;
  align-self: flex-end;
  padding-bottom: 4px;
  transition: all 0.3s linear;
}

.link-secao:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  transition: all 0.3s linear;
}

.blog-padrao {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.thumb-blog {
  width: 100%;
  height: 135px;
  background-image: url("../imgs/img-principal.webp");
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius);
}

.infos-blog {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

/***************** AS MAIS LIDAS *****************/

.mais-lidas {
  width: 27%;
  border: 1px solid var(--cor-cinza);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 2rem 0;
  transition: all 0.3s linear;
}

.mais-lidas .infos-blog {
  width: calc(100% - 4rem);
  padding: 0.75rem 2rem;
}

.mais-lidas h3 {
  font-family: "Borna";
  font-weight: 700;
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.mais-lidas .infos-blog:hover {
  background-color: #f0f9f5;
  border-left: 4px solid var(--cor-primaria);
  margin-left: -4px;
  transition: all 0.3s linear;
}

/***************** MERCADO *****************/

.mercado-home,
.principais-home {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-top: 6rem;
  gap: 20px;
}

.section-home,
.estrategias-home {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
}

.blog-externo {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

.portal-externo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 10px;
  color: var(--cor-cinza);
}

.logo-portal-externo {
  width: 25px;
  height: 25px;
  background-image: url("../imgs/logo-reuters.webp");
  background-position: center;
  background-size: 100%;
  border-radius: var(--border-radius);
}

.descricao-blog-externo {
  color: var(--cor-cinza);
  font-size: 0.875rem;
  line-height: 1.2em;
  margin-top: 10px;
}

.blog-externo .infos-blog {
  padding-bottom: 20px;
  border-bottom: 1px solid #dfe4e2;
}

.blog-externo a,
.mais-lidas a {
  text-decoration: none;
}

#resumido p,
#resumido .logo-portal-externo,
#resumido .separador-bullet {
  display: none;
}

.ad-vertical-home {
  width: calc(25% - 40px);
  height: auto;
  background-color: var(--cor-verde-escuro);
  border-radius: var(--border-radius);
}

/***************** COLUNISTAS *****************/

.colunistas {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colunista {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 25%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  transition: all 0.15s linear;
}

.img-colunista {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url("../imgs/img-principal.webp");
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius);
}

.infos-colunista {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 70%;
}

.verde-escuro h2,
.verde-escuro a,
.verde-escuro h4 {
  color: var(--cor-branca);
}

.colunistas p {
  color: var(--cor-cinza);
}

.colunistas a {
  text-decoration: none;
}

.colunista:hover h4 {
  color: var(--cor-primaria);
  transition: all 0.15s linear;
}

/***************** ESTRATÉGIAS *****************/

.estrategias-home {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
}

.estrategias-home a {
  position: relative;
  border-radius: var(--border-radius);
  float: left;
  width: 22%;
  height: auto;
  transition: var(--transicao-15);
}

.estrategias-home a:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  transition: var(--transicao-15);
}

.estrategias-home img {
  width: 100%;
}

/***************** NEWSLETTER *****************/

.newsletter-home {
  width: 1300px;
  padding: 6rem 3rem 3rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: url(../imgs/bg-newsletter-home.webp);
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius);
  gap: 20px;
}

.newsletter-home h2,
.newsletter-home p {
  color: var(--cor-bg-claro);
  width: 100%;
}

.newsletter-home input {
  padding: 1em;
  font-size: 1rem;
  width: 340px;
  color: var(--cor-cinza);
  border: 1px solid var(--cor-cinza);
  border-radius: var(--border-radius);
}

.newsletter-home input:focus-visible {
  outline: none;
}

.newsletter-home button {
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--cor-verde-escuro);
  background-color: var(--cor-primaria);
  padding: 1em 2em;
  font-weight: 700;
  border: none;
  margin-left: -10px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.newsletter-home button:hover {
  background-color: var(--cor-cinza);
  transition: all 0.3s linear;
}

/***************** MAIORES ALTAS - AÇÕES *****************/

.maiores-altas {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.todas-acoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.todas-opcoes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.acoes {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  border: 1px solid var(--cor-cinza-borda);
  border-radius: var(--border-radius);
  background-color: var(--cor-branca);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.14);
  transition: all 0.3s linear;
}

.acoes:hover {
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
  transition: var(--transicao-15);
}

.acoes h4 {
  width: 100%;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.75rem */
  text-transform: uppercase;
  color: var(--cor-cinza);
}

.acoes h3 {
  width: 100%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 2.8rem */
  text-transform: uppercase;
  color: var(--cor-verde-escuro);
}

.acoes h5 {
  display: flex;
  padding: 0.4rem 0.5rem;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--cor-cinza);
  color: var(--cor-bg-claro);
  font-weight: 700;
}

#positivo {
  color: var(--cor-primaria);
}

#negativo {
  color: var(--cor-vermelho);
}

/***************** VÍDEO *****************/

.videos {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.videos,
.topo-secao {
  margin-bottom: 3rem;
}

.videos iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border-radius: var(--border-radius);
}

#ultimo-video {
  width: calc(68.1% - 20px);
}

#videos-fixos {
  width: 31.9%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.apoiadores {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.apoiadores img {
  width: 25%;
}

/* .ativos-select {
  border-color: var(--cor-cinza-borda);
  border-radius: 5px;
  padding: 10px;
} */

/******* FOOTER *******/

.footer {
  width: var(--largura-interna);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: -2rem 0;
}

.footer #menu a {
  color: var(--cor-verde-escuro);
  text-decoration: none;
  transition: all 0.15s linear;
}

.footer #menu a:hover {
  text-decoration: underline;
  transition: all 0.15s linear;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/******** COPYRIGHT *******/

.copyright {
  width: var(--largura-interna);
  display: flex;
  margin: -3rem 0;
  justify-content: space-between;
  color: var(--cor-bg-claro);
}

.copyright a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

@media (max-width: 767px) {
}
