:root {
  --app-min-width: min(1300px, 90%);
}

.navbar-visao-geral {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../imgs/plataforma-petroleo-img.webp);
  background-position: center;
  background-size: cover;
}

.navbar-acao-visao-geral {
  width: var(--app-min-width);
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .navbar-acao-visao-geral {
    justify-content: center;
  }
}

.navbar-acao,
.navbar-acao-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-visao-geral-texto {
  color: var(--cor-cinza);
  font-weight: 700;
  line-height: 1.375rem;
}

.navbar-acao-texto {
  color: var(--cor-verde-escuro);
  font-family: 'Borna';
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.navbar-nome-acao {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.navbar-acao-descricao {
  color: var(--cor-verde-escuro);
  font-weight: 500;
  padding-left: 0.75rem;
}

.navbar-acao-valor {
  display: flex;
  justify-content: right;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

.acao-valor-e-percentual {
  margin-right: 1.125rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.acao-moeda {
  font-weight: 700;
  color: var(--cor-verde-escuro);
}

.acao-valor {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cor-verde-escuro);
}

.acao-percentual {
  font-size: clamp(1rem, 2rem, 3rem);
  font-weight: 700;
  color: var(--cor-primaria);
}

.navbar-acao-variacoes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px 0;
  justify-content: space-around;
}

.navbar-acao-variacao {
  min-width: max-content;
  display: flex;
  flex-direction: column;
  margin-right: 1.125rem;
}

.variacao-valor {
  color: var(--cor-verde-escuro);
  font-weight: 700;
  line-height: 1.125rem;
}

.variacao-periodo {
  color: var(--cor-cinza);
  font-size: 0.75rem;
  font-weight: 400;
}

/* NAVBAR */
.tabContainer {
  width: 100%;
  /* height: 350px; */
}

.menu-container {
  background-color: var(--cor-branca-op);
}

.menu-mobile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  display: none;
  justify-content: center;
  gap: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 100ms ease-in-out;
}

.bar:hover {
  background-color: rgb(16, 16, 16);
}

.menu-mobile.open .bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 25px;
}

.menu-mobile.open .bar:nth-of-type(2) {
  transform-origin: center;
  width: 0;
}

.menu-mobile.open .bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 25px;
}

.tabContainer .buttonContainer {
  width: var(--app-min-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 61px;
  position: relative;
}

.tabContainer .buttonContainer .buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.tabContainer .buttonContainer button {
  color: var(--cor-verde-escuro);
  width: 11%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 700;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.625rem;
  background-color: var(--cor-branca-op);
}

.tabContainer .buttonContainer button:hover,
.tabContainer .buttonContainer button.active {
  background-color: var(--cor-branca);
}

@media (max-width: 1024px) {
  .menu-mobile {
    display: flex;
  }

  .tabContainer .buttonContainer .buttons {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 61px;
    width: 150px;
  }

  .tabContainer .buttonContainer .buttons.visible {
    display: flex;
  }

  .tabContainer .buttonContainer button {
    width: 100%;
  }

  .tabContainer .buttonContainer button:hover,
  .tabContainer .buttonContainer button.active {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
  }
}

.tabContainer .buttonContainer .botao-texto-acao {
  color: var(--cor-cinza);
  font-weight: 700;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  padding-right: 0.625rem;
}

.tabContainer .tabPanel {
  background-color: var(--cor-branca);
  color: #000000;
  padding-top: clamp(2.5rem, 5rem, 3vh);
  box-sizing: border-box;
  display: none;
}

.tabPanel .tab-section {
  margin: 0 auto;
  width: var(--app-min-width);
  display: flex;
  flex-direction: column;
}

.topo-secao {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 20px;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.topo-secao_alugueis {
  display: flex;
  gap: 1rem;
}

.acao-e-separador {
  flex: 1;
  min-width: fit-content;
  color: var(--cor-cinza);
  font-size: 0.75rem;
  font-weight: 400;
  display: flex;
  gap: 1.5rem;
}

.acao-e-separador hr {
  flex: 1;
}

.topo-secao-graficos {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin: 4rem 0;
}

.imagem-info {
  padding-bottom: 0.625rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.sobre-acao {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 767px) and (max-width: 1024px) {
  .sobre-acao {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.info-acao {
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

.link-site-acao {
  color: var(--cor-primaria);
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration: none;
}

.section-ultimas-noticias {
  background-color: var(--cor-branca-op);
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
}

.nome-portal-externo {
  color: var(--cor-cinza);
  font-size: 0.75rem;
  font-weight: 700;
}

.ultimas-noticias {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px 20px;
}

.ultimas-noticias .infos-blog {
  padding-bottom: 20px;
  border-bottom: 1px solid #dfe4e2;
  text-decoration: none;
}
.ultimas-noticias .titulo-padrao-materia {
  color: var(--cor-verde-escuro);
  font-size: 0.875rem;
  font-weight: 600;
}

.secao-outras-acoes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.ativos-selecao {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.opcoes-select {
  flex: 1;
  border-color: var(--cor-cinza-borda);
  border-radius: 5px;
  padding: 10px;
}

/* TAB OPÇÕES */
.tab-opcoes {
  display: flex;
  justify-content: center;
}
